# بسم الله الرحمن الرحيم

In [1]:
print('hello, world')

hello, world

In [2]:
print('My name is: ', 'Haitham', ' ', 'El-Ghareeb')

My name is:  Haitham   El-Ghareeb

In [3]:
a = 3

In [4]:
A

NameError: name 'A' is not defined

In [5]:
a

3

In [7]:
_a = 4

In [8]:
_a

4

In [10]:
if True:
    print('It is working!')
else:
    print("It's not")

IndentationError: expected an indented block (<ipython-input-10-afeb04a7bf39>, line 4)

In [11]:
if True:
    print('It is working!')
else:
print("It's not")

IndentationError: expected an indented block (<ipython-input-11-afeb04a7bf39>, line 4)

In [12]:
multi_line_var = '''
This is Line 1
This is Line 2
This is Line 3
'''

In [14]:
multi_line_var

'\nThis is Line 1\nThis is Line 2\nThis is Line 3\n'

In [17]:
print(multi_line_var)

This is Line 1
This is Line 2
This is Line 3

In [16]:
# This is a comment

In [23]:
age = 'Seventeen'
age

'Seventeen'

In [24]:
type(age)

str

In [25]:
age = 17
age

17

In [26]:
type(age)

int

In [27]:
is_student = True
type(is_student)

bool

In [28]:
is_student = 1
type(is_student)

int

In [29]:
type(1)

int

In [30]:
type(1.1)

float

In [31]:
type(.1)

float

In [33]:
age = 17.5
type(age)

float

In [34]:
int(age)

17

In [35]:
float(age)

17.5

In [36]:
str(age)

'17.5'

In [37]:
x = 3

In [38]:
x += 2

In [39]:
x

5

In [40]:
x++

SyntaxError: invalid syntax (<ipython-input-40-0af4bb0eac37>, line 1)

In [41]:
x += 2

5

In [42]:
2 > 3

False

In [43]:
2 < 3

True

In [44]:
2 <= 3

True

In [45]:
2 == 3

False

In [46]:
False == 0

True

In [47]:
True == 1

True

In [48]:
True == 2

False

In [49]:
(False == 0) and (True == 1)

True

In [50]:
if None:
    print('None')
else:
    print('Not Falsy')

Not Falsy

In [51]:
if False:
    print('None')
else:
    print('Not Falsy')

Not Falsy

In [52]:
if 0:
    print('None')
else:
    print('Not Falsy')

Not Falsy

In [53]:
if []:
    print('None')
else:
    print('Not Falsy')

Not Falsy

In [54]:
if ():
    print('None')
else:
    print('Not Falsy')

Not Falsy

In [55]:
if {}:
    print('None')
else:
    print('Not Falsy')

Not Falsy

In [56]:
if 0 or [] or None or False or () or {}:
    print('None')
else:
    print('Not Falsy')

Not Falsy

In [58]:
# Note the 1 added at the end
if 0 or [] or None or False or () or {} or 1:
    print('None')
else:
    print('Not Falsy')

None

## Strings

In [59]:
3 * 'a'

'aaa'

In [60]:
name = 'Ahmed '

In [61]:
3 * name

'Ahmed Ahmed Ahmed '

In [64]:
f_name = 'Haitham'
l_name = 'Sakr'
m_name = 'H'
name = f_name + 3 * m_name + l_name
print(name)

HaithamHHHSakr

In [67]:
name_intro = ("I'm" f_name);
print(name_intro)

SyntaxError: invalid syntax (<ipython-input-67-8489b2805e36>, line 1)

In [70]:
name_intro = ("I'm", f_name);
print(name_intro)
type(name_intro)

("I'm", 'Haitham')

tuple

In [75]:
# name = 'Haitham'
f_name[0]

'H'

In [77]:
# inclusive at begging, exclusive at end
f_name[1:3]

'ai'

In [78]:
# starts from the beginning
f_name[:3]

'Hai'

In [79]:
# starts at index 3, to the end
f_name[3:]

'tham'

In [83]:
# same as above
f_name[3:len(f_name)]

'tham'

In [84]:
f_name[8]

IndexError: string index out of range

In [87]:
print(f_name + ' ' + l_name)

Haitham Sakr

In [88]:
# Return type
'haitham'.capitalize

In [89]:
# Calls function
'haitham'.capitalize()

'Haitham'

In [90]:
name

'HaithamHHHSakr'

In [91]:
name.replace('H', ' ')

' aitham   Sakr'

In [92]:
name

'HaithamHHHSakr'

In [93]:
name.replace('H', ' ', 0)

'HaithamHHHSakr'

In [95]:
name.replace('H', ' ', 2)

' aitham HHSakr'

In [98]:
# Replace all 'H' occurences with spaces Except first 'H' occurence
'H' + name[1:].replace('H', ' ')

'Haitham   Sakr'

In [99]:
'01234'.isDigit()

AttributeError: 'str' object has no attribute 'isDigit'

In [100]:
x, y = 1, 2

In [101]:
x

1

In [102]:
y

2

In [103]:
'01234'.is_digit()

AttributeError: 'str' object has no attribute 'is_digit'

In [105]:
f_name = 'Haitham'
m_name = 'Abdel Monem'
l_name = 'Sakr'

In [106]:
print('My First Name is: ' + f_name)

My First Name is: Haitham

In [107]:
print('My First Name is: {}', f_name)

My First Name is: {} Haitham

In [108]:
print('My First Name is: {}'.format(f_name))

My First Name is: Haitham

In [109]:
print('My First Name is: {} and Middle Name is: {} and Last Name is: {}'.format(f_name, m_name, l_name))

My First Name is: Haitham and Middle Name is: Abdel Monem and Last Name is: Sakr

In [110]:
print('My First Name is: {2} and Middle Name is: {1} and Last Name is: {0}'.format(f_name, m_name, l_name))

My First Name is: Sakr and Middle Name is: Abdel Monem and Last Name is: Haitham

In [111]:
print(f'My First Name is {f_name} and My Middle Name is {m_name} and My Last Name is {l_name}')

My First Name is Haitham and My Middle Name is Abdel Monem and My Last Name is Sakr

In [112]:
int('15')

15

In [113]:
float('25')

25.0

In [114]:
complex(4,5)

(4+5j)

In [115]:
type(complex(4,5))

complex

In [116]:
a = complex(4,5)
b = complex(1,2)
a + b

(5+7j)

In [117]:
round(4.5)

4

In [118]:
round(4.6)

5

In [119]:
min(1,2,3)

1

In [120]:
max(1,2,3)

3

# الحمد لله